/* This module is responsible for all the layout - Mobile first*/
body {
    background: $light-grey;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ul li {
    
    list-style-type: none;
}

a {
    text-decoration: none;
}

.app-wrapper {
    padding: 20px;
    position: relative;
    min-height: 415px;
}

.top-buffer {
    margin-top: 20px;
}

.red {
    color: red;
}

.fr {
    float: right;
}

.pointer {
    cursor: pointer;
}

@media only screen and (min-width: $breakpoint-tablet) {
    .app-wrapper {
        width: $breakpoint-tablet;
        margin: 0 auto;
    }
}

@media only screen and (min-width: $breakpoint-desktop) {
    .app-wrapper {
        width: $breakpoint-desktop;
    }
}