/* This module is responsible for all the layout - Mobile first */

/* Breakpoints */
$breakpoint-tablet:  768px;
$breakpoint-desktop: 1024px;

/* Guardian Colors */
$guardian-blue:  #0061A6;
$guardian-pink:  #D1008B;
$guardian-green: #4A7801;
$guardian-green: #D61D00;

/* Generic colors */
$light-grey: #EEE;